html{
    padding:0;
    margin:0;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1.5px;
}

body *{
    box-sizing: border-box;
}

.button:hover{
    background-color: #46BBD6;
    border-color: #46BBD6;
}

.calorie-module,.planner-module{
    background-color:#F1F9FF;
    color: #46BBD6;
}

.activity-module{
    background-color:#B1E2ED;
    color:white;
}

.mod-button{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    letter-spacing:0px;
    text-decoration: none;
    background-color: #00A5CB;
    padding:8px;
    color: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 3px 3px 3px rgba(72, 72, 72, .3);
    height: 20px;
}

@media screen and (max-width: 991px) {

    label{
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: white;
        padding: 20px;
        width: 50px;
    }

    #toggle{
        display:none;
    }

    .navbar{
        background-color: #46BBD6;
    }

    .menu{
        justify-content: start;
        flex-direction: column;
        display:none;
    }

    .nav-button{
        margin: 35px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: transform .3s
    }

    .nav-button:hover{
        transform: translateX(30px)
    }

    #toggle:checked + .menu{
        display: flex;
        position: absolute;
        height:auto;
        z-index:1;
        background-color:#46BBD6;

    }

    h1{
        color: #00A5CB;
        text-align: center;
    }


    h2{
        color: #46BBD6;
        margin: auto;
        text-align: center;
    }

    .mod-button{
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        letter-spacing:0px;
        text-decoration: none;
        background-color: #00A5CB;
        padding:8px;
        color: white;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 3px 3px 3px rgba(72, 72, 72, .3);
        height: 20px;
    }

    .dash-container{
        display:flex;
        justify-content: flex-start;
        flex-flow: column wrap;
        margin: 0;
        padding: 0;
    }

    .calorie-module,.planner-module,.activity-module{
        display:flex;
        flex-flow:row;
        justify-content:space-between;
        font-family:'Work Sans', sans-serif;
        letter-spacing:0px;
        padding: 20px;
        height: 33.33%;
    }

    .dash-wrapper p{
        padding: 20px;
        width: 50%;
    }

    img{
        height: 150px;
        width:auto;
    }
}

@media screen and (min-width: 992px) {

    .navbar{
        display:flex;
        justify-content: center;
        align-items: center;
        height:100px;
        background-color: #46BBD6;
    }

    .nav-button{
        padding: 40px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        transition: font-size .3s ease-in; 
    }

    .nav-button:hover{
        font-size: 20px;
    }

    label{
        display: none;
    }

    #toggle{
        display:none;
    }

    h1{
        color: #00A5CB;
        text-align: center;
    }


    h2{
        color: #46BBD6;
        margin: auto;
        text-align: center;
    }

    .dash-container{
        display:flex;
        justify-content: center;
        flex-flow: row;
        margin: 0;
        padding: 0;
    }

    .calorie-module,.planner-module,.activity-module{
        display:flex;
        justify-content:center;
        flex-flow: column wrap;
        font-family:'Work Sans', sans-serif;
        letter-spacing:0px;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgba(72, 72, 72, .3);
    }

    .dash-wrapper p{
        padding: 20px;
        width: 50%;
    }

    img{
        height: 100px;
        width:100px;;
    }

}